<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Away</title>
</head>

<body>

    <main>
        <h1>There's Nothing Here</h1>
        <p>Were you attempting to visit {{request_path}} ?</p>
    </main>


</body>

</html>